tr:hover {background-color: #D6EEEE;}
.ر 
{background-color: #fa5;}
.ص 
{background-color: #78a54b;}
.س 
{background-color: #5c91e1;}
.ر:hover
{background-color: #f55;}
.ص:hover
{background-color: #60b660;}
.س:hover
{background-color: #4b87e1;}